[user]
	name = Andrea Gueugnaut
	email = andrea.gueugnaut@gmail.com
[core]
  ui = true
  interactive = true
  status = auto
  branch = true
  diff = true
  editor = vim
[merge]
	tool = vimdiff
[push]
	default = current
[alias]
	civ = commit
	lg = log --decorate --branches --graph
	lgo = log --decorate --branches --graph --oneline
  slog = shortlog
	b = branch
	cmi = commit -m
	co = checkout
	cl = clone
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
